<h1 class="text-center my-8"> Best cafeteria food on the planet!</h1>
<div class="flex mx-auto flex-col">
  <h2><%= link_to "Sign up here!",new_user_path %></h2>
  <h2 class="mx-8"><%= link_to "Login here",new_sessions_path %></h2>
</div>
