<h1 class="text-center"> Best cafeteria food on the planet!</h1>
<div class=" m-auto my-12 text-center">
  <div class="my-14"><%= link_to "Sign up here!",new_user_path ,class: " px-8 py-2 text-4xl" %></div>
  <div class=" "><%= link_to "Login here!",new_sessions_path ,class: " px-8 py-2  text-4xl" %></div>
</div>
