<h2 class=" pb-10 mx-auto text-center">Your Orders</h2>
<% if orders_customer.any? %>
  <table class="table-auto">
    <thead>
      <tr class="text-center underline">
        <th class="p-4 ">ID</th>
        <th class="p-4 ">Date ordered</th>
        <th class="p-4 ">Total</th>
        <th class="p-4 ">Delivered on</th>
      </tr>
    </tr>
  </thead>
  <tbody>
    <% orders_customer.each do |order| %>
      <tr class="text-center ">
        <td class="p-4 border-4 rounded-xl"><%= link_to order.id,order_path(order.id)%></td>
        <td class="p-4 "><%= order.date.to_date%></td>
        <td class="p-4 ">$<%= order.total %></td>
        <% if order.delivered_at %>
          <td class="p-4 "><%= order.delivered_at.to_date %></td>
        <% else %>
          <td class="p-4 text-red-600 ">Not delivered yet</td>
        <% end %>
      </tr>
    <% end%>
  </tbody>
</table>
<% else %>
  <p class="text-red-600 text-center mx-auto">No orders yet!</p>
<% end%>
