<div class="mx-auto">
  <% if  @is_owner%>
    <%= render partial: "owner_index",locals: {orders: @orders}%>
  <% end %>
  <% if  @is_customer%>
    <%= render partial: "customer_index",locals: {orders_customer: @orders_customer}%>
  <% end %>
</div>
