<div class="flex-row flex">
  <section class="flex flex-col ml-10">
    <%= render partial: "all_users" ,locals:{users:@users}%>
    <%= render partial: "pending_orders" ,locals:{undelivered_orders: @undelivered_orders}%>
  </section>
  <section class="flex flex-col mx-40 ">
    <%= render partial: "menus" ,locals:{menus: @menus}%>
  </section>
</div>
